# Default ignored files
/../../../:terminal-text-buffer/.idea/shelf/
/../../../:terminal-text-buffer/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:terminal-text-buffer/.idea/httpRequests/
